<div class="component-container">
    <div class="title">
        <h3>Tags:</h3>
    </div>

    <form [formGroup]="formGroup" autocomplete="off">
        <div class="component-row">

            <div class="component-column">
                <sfc-tags-input id="demo-tags-empty" formControlName="inputTagsNull">
                </sfc-tags-input>
            </div>

            <div class="component-column">
                <sfc-tags-input id="demo-tags-label" formControlName="inputTagsLabel" label="label test">
                </sfc-tags-input>
            </div>

            <div class="component-column">
                <sfc-tags-input id="demo-tags-placeholder" formControlName="inputTagsPlaceholder"
                    placeholder="placeholder test">
                </sfc-tags-input>
            </div>

        </div>

        <div class="component-row">
            <div class="component-column">
                <sfc-tags-input id="demo-tags-label-placeholder" formControlName="inputTagsLabelPlaceholder"
                    label="label test" placeholder="placeholder test">
                </sfc-tags-input>
            </div>

            <div class="component-column">
                <sfc-tags-input id="demo-tags-label-new-tag-placeholder"
                    formControlName="inputTagsLabelNewTagPlaceholder" label="cusom new tag placeholder"
                    placeholder="placeholder" newTagPlaceholder="+new tag+">
                </sfc-tags-input>
            </div>

            <div class="component-column">
                <sfc-tags-input id="demo-tags-icon" formControlName="inputTagsIcon" [icon]="faUser">
                </sfc-tags-input>
            </div>
        </div>

        <div class="component-row">
            <div class="component-column">
                <sfc-tags-input id="demo-tags-icon-label" formControlName="inputTagsIconLabel" label="label test"
                    [icon]="faUser">
                </sfc-tags-input>
            </div>

            <div class="component-column">
                <sfc-tags-input id="demo-tags-icon-label-pleceholder" formControlName="inputTagsIconLabelPlaceholder"
                    label="label test" [icon]="faUser" placeholder="placeholder test">
                </sfc-tags-input>
            </div>

            <div class="component-column">
                <sfc-tags-input id="demo-tags-with-value" formControlName="inputTagsValue">
                </sfc-tags-input>
            </div>
        </div>

        <div class="component-row">
            <div class="component-column">
                <sfc-tags-input id="demo-tags-with-value-label" formControlName="inputTagsValueLabel"
                    label="label test">
                </sfc-tags-input>
            </div>

            <div class="component-column">
                <sfc-tags-input id="demo-tags-with-value-label-placeholder"
                    formControlName="inputTagsValueLabelPlaceholder" label="label with placeholder"
                    placeholder="placeholder test">
                </sfc-tags-input>
            </div>

            <div class="component-column">
                <sfc-tags-input id="demo-tags-with-value-label-placeholder-icon"
                    formControlName="inputTagsValueLabelPlaceholderIcon" label="label with icon and helper"
                    helperText="helper is as test" [icon]="faUser">
                </sfc-tags-input>
            </div>
        </div>

        <div class="component-row">
            <div class="component-column">
                <sfc-tags-input id="demo-tags-helper" formControlName="inputTagsHelper" helperText="helper is as">
                </sfc-tags-input>
            </div>

            <div class="component-column">
                <sfc-tags-input id="demo-tags-helper-label" formControlName="inputTagsHelperLabel"
                    helperText="helper is as" label="label and helper">
                </sfc-tags-input>
            </div>

            <div class="component-column">
                <sfc-tags-input id="demo-tags-helper-label-icon" formControlName="inputTagsHelperLabelIcon"
                    helperText="helper is as" label="label and helper" [icon]="faUser">
                </sfc-tags-input>
            </div>
        </div>

        <div class="component-row">
            <div class="component-column">
                <sfc-tags-input id="demo-tags-disabled" formControlName="inputTagsDisabled">
                </sfc-tags-input>
            </div>

            <div class="component-column">
                <sfc-tags-input id="demo-tags-label-disabled" formControlName="inputTagsLabelDisabled"
                    label="label DISABLED">
                </sfc-tags-input>
            </div>

            <div class="component-column">
                <sfc-tags-input id="demo-tags-label-placeholder-disabled"
                    formControlName="inputTagsLabelPlaceholderDisabled" label="label DISABLED"
                    placeholder="placeholder DISABLED">
                </sfc-tags-input>
            </div>
        </div>

        <div class="component-row">
            <div class="component-column">
                <sfc-tags-input id="demo-tags-label-placeholder-icon-disabled"
                    formControlName="inputTagsLabelPlaceholderIconDisabled" label="label DISABLED"
                    placeholder="placeholder DISABLED" [icon]="faUser">
                </sfc-tags-input>
            </div>

            <div class="component-column">
                <sfc-tags-input id="demo-tags-label-placeholder-icon-helper-disabled"
                    formControlName="inputTagsLabelPlaceholderIconHelperDisabled" label="label DISABLED"
                    placeholder="DISABLED" [icon]="faUser" helperText="helper DISABLED">
                </sfc-tags-input>
            </div>

            <div class="component-column">
                <sfc-tags-input id="demo-tags-label-placeholder-icon-helper-value-disabled"
                    formControlName="inputTagsLabelPlaceholderIconHelperValueDisabled" label="label DISABLED"
                    placeholder="DISABLED" [icon]="faUser" helperText="helper DISABLED">
                </sfc-tags-input>
            </div>
        </div>

        <div class="component-row">
            <div class="component-column">
                <sfc-tags-input id="demo-tags-validation" formControlName="inputTagsValidation">
                </sfc-tags-input>
            </div>

            <div class="component-column">
                <sfc-tags-input id="demo-tags-label-validation" formControlName="inputTagsLabelValidation"
                    label="label valid (qwe, rty)">
                </sfc-tags-input>
            </div>

            <div class="component-column">
                <sfc-tags-input id="demo-tags-label-icon-helper-validation"
                    formControlName="inputTagsLabelIconHelperValidation" label="label valid (qwe, rty)" [icon]="faUser"
                    helperText="helper valid (qwe, rty)">
                </sfc-tags-input>
            </div>
        </div>

        <div class="component-row">
            <div class="component-column">
                <sfc-tags-input id="demo-tags-validation-failed" formControlName="inputTagsValidationFailed">
                </sfc-tags-input>
            </div>

            <div class="component-column">
                <sfc-tags-input id="demo-tags-label-validation-failed" formControlName="inputTagsLabelValidationFailed"
                    label="label valid (qwe, rty)">
                </sfc-tags-input>
            </div>

            <div class="component-column">
                <sfc-tags-input id="demo-tags-label-icon-helper-validation-failed"
                    formControlName="inputTagsLabelIconHelperValidationFailed" label="label valid (qwe, rty)"
                    [icon]="faUser" helperText="helper valid (qwe, rty)">
                </sfc-tags-input>
            </div>
        </div>

        <div class="component-row">
            <div class="component-column">
                <sfc-tags-input id="demo-tags-validation-failed-cust-msg"
                    formControlName="inputTagsValidationCustomMsgFailed"
                    [validations]="{'sfc-equal-or-include': 'Include valid only (qwe or rty)'}">
                </sfc-tags-input>
            </div>

            <div class="component-column">
                <sfc-tags-input id="demo-tags-label-validation-failed-cust-msg"
                    formControlName="inputTagsLabelValidationCustomMsgFailed" label="label valid (qwe, rty)"
                    [validations]="{'sfc-equal-or-include': 'Include valid only (qwe or rty)'}">
                </sfc-tags-input>
            </div>

            <div class="component-column">
                <sfc-tags-input id="demo-tags-label-icon-helper-validation-failed-cust-msg"
                    formControlName="inputTagsLabelIconHelperValidationCustomMsgFailed" label="label valid (qwe, rty)"
                    [icon]="faUser" helperText="helper valid (qwe, rty)"
                    [validations]="{'sfc-equal-or-include': 'Include valid only (qwe or rty)'}">
                </sfc-tags-input>
            </div>
        </div>

        <div class="component-row">
            <div class="component-column">
                <sfc-tags-input id="demo-tags-validation-success" formControlName="inputTagsValidationSuccess">
                </sfc-tags-input>
            </div>

            <div class="component-column">
                <sfc-tags-input id="demo-tags-label-validation-success"
                    formControlName="inputTagsLabelValidationSuccess" label="label valid (qwe, rty)">
                </sfc-tags-input>
            </div>

            <div class="component-column">
                <sfc-tags-input id="demo-tags-label-icon-helper-validation-success"
                    formControlName="inputTagsLabelIconHelperValidationSuccess" label="label valid (qwe, rty)"
                    [icon]="faUser" helperText="helper valid (qwe, rty)">
                </sfc-tags-input>
            </div>
        </div>

        <div class="component-row">
            <div class="component-column">
                <sfc-tags-input id="demo-tags-max-length" formControlName="inputTagsMaxLength"
                    label="label max length 3" [icon]="faUser" helperText="label max length 3"
                    [validations]="{'sfc-max-array-length': 'No more than 3 tags'}">
                </sfc-tags-input>
            </div>

            <div class="component-column">
                <sfc-tags-input id="demo-tags-min-length" formControlName="inputTagsMinLength"
                    label="label min length 1" [icon]="faUser" helperText="label min length 1"
                    [validations]="{'sfc-min-array-length': 'must be at least 1 tag'}">
                </sfc-tags-input>
            </div>

            <div class="component-column">
                <sfc-tags-input id="demo-tags-max-min-length" formControlName="inputTagsMaxMinLength"
                    label="label max 3 and min 1 length" [icon]="faUser" helperText="max 3 and min 1 length"
                    [validations]="{'sfc-max-array-length': 'No more than 3 tags', 'sfc-min-array-length': 'must be at least 1 tag'}">
                </sfc-tags-input>
            </div>
        </div>

        <div class="component-row">
            <div class="component-column">
                <sfc-tags-input id="demo-tags-max-length-invalid" formControlName="inputTagsMaxLengthInvalid"
                    label="label max length 3" [icon]="faUser" helperText="label max length 3"
                    [validations]="{'sfc-max-array-length': 'No more than 3 tags'}">
                </sfc-tags-input>
            </div>

            <div class="component-column">
                <sfc-tags-input id="demo-tags-min-length-invalid" formControlName="inputTagsMinLengthInvalid"
                    label="label min length 1" [icon]="faUser" helperText="label min length 1"
                    [validations]="{'sfc-min-array-length': 'must be at least 1 tag'}">
                </sfc-tags-input>
            </div>

            <div class="component-column">
                <sfc-tags-input id="demo-tags-max-min-length-invalid" formControlName="inputTagsMaxMinLengthInvalid"
                    label="label max 3 and min 1 length" [icon]="faUser" helperText="max 3 and min 1 length"
                    [validations]="{'sfc-max-array-length': 'No more than 3 tags', 'sfc-min-array-length': 'must be at least 1 tag'}">
                </sfc-tags-input>
            </div>
        </div>

        <div class="component-row">
            <div class="component-column">
                <sfc-tags-input id="demo-tags-max-length-valid" formControlName="inputTagsMaxLengthValid"
                    label="label max length 3" [icon]="faUser" helperText="label max length 3"
                    [validations]="{'sfc-max-array-length': 'No more than 3 tags'}">
                </sfc-tags-input>
            </div>

            <div class="component-column">
                <sfc-tags-input id="demo-tags-min-length-valid" formControlName="inputTagsMinLengthValid"
                    label="label min length 1" [icon]="faUser" helperText="label min length 1"
                    [validations]="{'sfc-min-array-length': 'must be at least 1 tag'}">
                </sfc-tags-input>
            </div>

            <div class="component-column">
                <sfc-tags-input id="demo-tags-max-min-length-valid" formControlName="inputTagsMaxMinLengthValid"
                    label="label max 3 and min 1 length" [icon]="faUser" helperText="max 3 and min 1 length"
                    [validations]="{'sfc-max-array-length': 'No more than 3 tags', 'sfc-min-array-length': 'must be at least 1 tag'}">
                </sfc-tags-input>
            </div>
        </div>

        <div class="component-row">
            <div class="component-column">
                <sfc-tags-input id="demo-tags-small" formControlName="inputTagsSmall" label="Small label"
                    [icon]="faUser" helperText="Small label" [sfcComponentSize]="ComponentSize.Small">
                </sfc-tags-input>
            </div>

            <div class="component-column">
                <sfc-tags-input id="demo-tags-large" formControlName="inputTagsLarge" label="Large label"
                    [icon]="faUser" helperText="Large label" [sfcComponentSize]="ComponentSize.Large">
                </sfc-tags-input>
            </div>

            <div class="component-column">
                <sfc-tags-input id="demo-tags-custom" formControlName="inputTagsCustom" label="Custom label"
                    [icon]="faUser" helperText="Custom label" [sfcComponentSize] [customSize]="4.2">
                </sfc-tags-input>
            </div>
        </div>

        <div>
            <pre><code>{{ formGroup.value | json }}</code></pre>
            <h1>Valid: {{formGroup.valid}}</h1>
        </div>
    </form>

</div>