<div class="component-container">
    <div class="title">
        <h3>Circle Fading:</h3>
    </div>

    <sfc-circle-loader [type]="CircleLoaderType.Fading"></sfc-circle-loader>
    <button id="global-button" (click)="showLoader()">Show global loader</button>

    <div class="component-row">

        <div class="component-column loader-container small">

            <button (click)="showLoader('smallfadingcircle')">Show</button>
            <button (click)="hideLoader('smallfadingcircle')">Hide</button>
            <div class="content">
                <sfc-circle-loader id="smallfadingcircle" [type]="CircleLoaderType.Fading"
                    [sfcComponentSize]="ComponentSize.Small" [start]="true">
                </sfc-circle-loader>
                small circle loader
            </div>

        </div>

        <div class=" component-column loader-container small">

            <button (click)="showLoader('mediumfadingcircle')">Show</button>
            <button (click)="hideLoader('mediumfadingcircle')">Hide</button>
            <div class="content">
                <sfc-circle-loader id="mediumfadingcircle" [type]="CircleLoaderType.Fading"
                    [sfcComponentSize]="ComponentSize.Medium" [start]="true">
                </sfc-circle-loader>
                medium circle loader
            </div>

        </div>

        <div class=" component-column loader-container small">

            <button (click)="showLoader('largefadingcircle')">Show</button>
            <button (click)="hideLoader('largefadingcircle')">Hide</button>
            <div class="content">
                <sfc-circle-loader id="largefadingcircle" [type]="CircleLoaderType.Fading"
                    [sfcComponentSize]="ComponentSize.Large" [start]="true">
                </sfc-circle-loader>
                large circle loader
            </div>

        </div>

    </div>

    <div class="component-row">

        <div class="component-column loader-container small">

            <button (click)="showLoader('smallCustomfadingcircle')">Show</button>
            <button (click)="hideLoader('smallCustomfadingcircle')">Hide</button>
            <div class="content">
                <sfc-circle-loader id="smallCustomfadingcircle" [type]="CircleLoaderType.Fading" [sfcComponentSize]
                    [customSize]="0.2" [start]="true">
                </sfc-circle-loader>
                small custom circle loader
            </div>

        </div>

        <div class=" component-column loader-container small">

            <button (click)="showLoader('largeCustomfadingcircle')">Show</button>
            <button (click)="hideLoader('largeCustomfadingcircle')">Hide</button>
            <div class="content">
                <sfc-circle-loader id="largeCustomfadingcircle" [type]="CircleLoaderType.Fading" [sfcComponentSize]
                    [customSize]="4.2" [start]="true">
                </sfc-circle-loader>
                large custom circle loader
            </div>

        </div>

    </div>

    <div class="component-row">

        <div class="component-column loader-container small">

            <button (click)="showLoader('notStartedfadingcircle')">Show</button>
            <button (click)="hideLoader('notStartedfadingcircle')">Hide</button>
            <div class="content">
                <sfc-circle-loader id="notStartedfadingcircle" [type]="CircleLoaderType.Fading" [start]="false">
                </sfc-circle-loader>
                not started circle loader
            </div>

        </div>

        <div class=" component-column loader-container small">

            <button (click)="showLoader('notBackgroundfadingcircle')">Show</button>
            <button (click)="hideLoader('notBackgroundfadingcircle')">Hide</button>
            <div class="content">
                <sfc-circle-loader id="notBackgroundfadingcircle" [type]="CircleLoaderType.Fading" [start]="true"
                    [background]="false">
                </sfc-circle-loader>
                not backgrounded circle loader
            </div>

        </div>

    </div>

    <div class="component-row">

        <div class="component-column loader-container medium">

            <button (click)="showLoader('containerMediumfadingcircle')">Show</button>
            <button (click)="hideLoader('containerMediumfadingcircle')">Hide</button>
            <div class="content">
                <sfc-circle-loader id="containerMediumfadingcircle" [type]="CircleLoaderType.Fading" [start]="true">
                </sfc-circle-loader>
                medium container circle loader
            </div>

        </div>

        <div class="component-column loader-container large">

            <button (click)="showLoader('containerLargefadingcircle')">Show</button>
            <button (click)="hideLoader('containerLargefadingcircle')">Hide</button>
            <div class="content">
                <sfc-circle-loader id="containerLargefadingcircle" [type]="CircleLoaderType.Fading" [start]="true">
                </sfc-circle-loader>
                large container circle loader
            </div>

        </div>

        <div class="component-column loader-container round">

            <button (click)="showLoader('containerRoundfadingcircle')">Show</button>
            <button (click)="hideLoader('containerRoundfadingcircle')">Hide</button>
            <div class="content">
                <sfc-circle-loader id="containerRoundfadingcircle" [type]="CircleLoaderType.Fading" [start]="true">
                </sfc-circle-loader>
                rounded circle loader
            </div>

        </div>

    </div>
</div>