<div class="component-container">
    <div class="title">
        <h3>Bounce:</h3>
    </div>

    <sfc-bounce-loader></sfc-bounce-loader>
    <button class="app" id="global-button" (click)="showLoader()">Show global loader</button>

    <div class="component-row">

        <div class="component-column loader-container small">

            <button class="app" (click)="showLoader('smallBounce')">Show</button>
            <button class="app" (click)="hideLoader('smallBounce')">Hide</button>
            <div class="content">
                <sfc-bounce-loader id="smallBounce" [sfcComponentSize]="ComponentSize.Small" [start]="true">
                </sfc-bounce-loader>
                small bounce loader
            </div>

        </div>

        <div class=" component-column loader-container small">

            <button class="app" (click)="showLoader('mediumBounce')">Show</button>
            <button class="app" (click)="hideLoader('mediumBounce')">Hide</button>
            <div class="content">
                <sfc-bounce-loader id="mediumBounce" [sfcComponentSize]="ComponentSize.Medium" [start]="true">
                </sfc-bounce-loader>
                medium bounce loader
            </div>

        </div>

        <div class=" component-column loader-container small">

            <button class="app" (click)="showLoader('largeBounce')">Show</button>
            <button class="app" (click)="hideLoader('largeBounce')">Hide</button>
            <div class="content">
                <sfc-bounce-loader id="largeBounce" [sfcComponentSize]="ComponentSize.Large" [start]="true">
                </sfc-bounce-loader>
                large bounce loader
            </div>

        </div>

    </div>

    <div class="component-row">

        <div class="component-column loader-container small">

            <button class="app" (click)="showLoader('smallCustomBounce')">Show</button>
            <button class="app" (click)="hideLoader('smallCustomBounce')">Hide</button>
            <div class="content">
                <sfc-bounce-loader id="smallCustomBounce" [sfcComponentSize] [customSize]="0.2" [start]="true">
                </sfc-bounce-loader>
                small custom bounce loader
            </div>

        </div>

        <div class=" component-column loader-container small">

            <button class="app" (click)="showLoader('largeCustomBounce')">Show</button>
            <button class="app" (click)="hideLoader('largeCustomBounce')">Hide</button>
            <div class="content">
                <sfc-bounce-loader id="largeCustomBounce" [sfcComponentSize] [customSize]="4.2" [start]="true">
                </sfc-bounce-loader>
                large custom bounce loader
            </div>

        </div>

    </div>

    <div class="component-row">

        <div class="component-column loader-container small">

            <button class="app" (click)="showLoader('notStartedBounce')">Show</button>
            <button class="app" (click)="hideLoader('notStartedBounce')">Hide</button>
            <div class="content">
                <sfc-bounce-loader id="notStartedBounce" [start]="false">
                </sfc-bounce-loader>
                not started bounce loader
            </div>

        </div>

        <div class=" component-column loader-container small">

            <button class="app" (click)="showLoader('notBackgroundBounce')">Show</button>
            <button class="app" (click)="hideLoader('notBackgroundBounce')">Hide</button>
            <div class="content">
                <sfc-bounce-loader id="notBackgroundBounce" [start]="true" [background]="false">
                </sfc-bounce-loader>
                not backgrounded bounce loader
            </div>

        </div>

    </div>

    <div class="component-row">

        <div class="component-column loader-container medium">

            <button class="app" (click)="showLoader('containerMediumBounce')">Show</button>
            <button class="app" (click)="hideLoader('containerMediumBounce')">Hide</button>
            <div class="content">
                <sfc-bounce-loader id="containerMediumBounce" [start]="true">
                </sfc-bounce-loader>
                medium container bounce loader
            </div>

        </div>

        <div class="component-column loader-container large">

            <button class="app" (click)="showLoader('containerLargeBounce')">Show</button>
            <button class="app" (click)="hideLoader('containerLargeBounce')">Hide</button>
            <div class="content">
                <sfc-bounce-loader id="containerLargeBounce" [start]="true">
                </sfc-bounce-loader>
                large container bounce loader
            </div>

        </div>

        <div class="component-column loader-container round">

            <button class="app" (click)="showLoader('containerRoundBounce')">Show</button>
            <button class="app" (click)="hideLoader('containerRoundBounce')">Hide</button>
            <div class="content">
                <sfc-bounce-loader id="containerRoundBounce" [start]="true">
                </sfc-bounce-loader>
                rounded bounce loader
            </div>

        </div>

    </div>
</div>