#global-button {
  position: fixed;
  z-index: 9999;
}

.component-row {
  .loader-container {
    align-items: center;
    flex-direction: column;

    .content {
      border: 1px solid black;
      font-size: 10px;
      text-align: center;
      position: relative;
      padding: 3px;
      width: 400px;
      height: 400px;
    }

    &.small {
      .content {
        width: 100px;
        height: 100px;
      }
    }

    &.large {
      .content {
        width: 1200px;
        height: 1200px;
      }
    }

    &.round {
      .content {
        border-radius: 50%;
      }

      ::ng-deep div.preloader {
        border-radius: 50%;
      }
    }
  }
}
