<div class="menus-container">
    <div class="component-routing">
        <div class="routing-link" routerLinkActive="menu-active">
            <button routerLinkActive="menu-active" routerLink="side" [queryParams]="{theme: theme}">Side</button>
        </div>
        <div class="routing-link" routerLinkActive="menu-active">
            <button routerLinkActive="menu-active" routerLink="dropdown"
                [queryParams]="{theme: theme}">Dropdown</button>
        </div>
        <div class="routing-link" routerLinkActive="menu-active">
            <button routerLinkActive="menu-active" routerLink="navigation"
                [queryParams]="{theme: theme}">Navigation</button>
        </div>
    </div>

    <router-outlet></router-outlet>
</div>