<div class="component-container">
    <div class="title">
        <h3>Stars:</h3>
    </div>

    <div class="component-row">

        <div class="component-column">
            <sfc-stars></sfc-stars>
        </div>

        <div class="component-column">
            <sfc-stars [value]="0.1"></sfc-stars>
        </div>

        <div class="component-column">
            <sfc-stars [value]="0.51"></sfc-stars>
        </div>

    </div>

    <div class="component-row">

        <div class="component-column">
            <sfc-stars [value]="0.99"></sfc-stars>
        </div>

        <div class="component-column">
            <sfc-stars [value]="1.45"></sfc-stars>
        </div>

        <div class="component-column">
            <sfc-stars [value]="1.55"></sfc-stars>
        </div>

    </div>

    <div class="component-row">

        <div class="component-column">
            <sfc-stars [value]="1.79" [count]="1"></sfc-stars>
        </div>

        <div class="component-column">
            <sfc-stars [value]="2.1" [count]="2"></sfc-stars>
        </div>

        <div class="component-column">
            <sfc-stars [value]="2.5" [count]="14"></sfc-stars>
        </div>

    </div>

    <div class="component-row">

        <div class="component-column">
            <sfc-stars [value]="1.75" [sfcComponentSize]="ComponentSize.Small"></sfc-stars>
        </div>

        <div class="component-column">
            <sfc-stars [value]="4.24" [sfcComponentSize]="ComponentSize.Large"></sfc-stars>
        </div>

        <div class="component-column">
            <sfc-stars [value]="3.874" [sfcComponentSize] [customSize]="4.2"></sfc-stars>
        </div>

    </div>
</div>