<div class="row-container" [ngClass]="data.status">
    <div class="row-columns-container" [style.text-align]="position">
        <div class="row-content">
            <ng-container *ngFor="let column of columns">
                <ng-container [ngSwitch]="column.type">
                    <ng-container *ngSwitchCase="TableColumnType.Selectable">
                        <div class="column-checkmark" #columnCheckmark [style.width]="column.calculatedWidth">
                            <sfc-checkmark [active]="isSelected" (click)="selectRow()" [type]="CheckmarkType.Circle"></sfc-checkmark>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        <ng-container [ngSwitch]="column.field">
                            <ng-container *ngSwitchCase="'client'">
                                <div class="column-data phono-container" [style.width]="column.calculatedWidth">
                                    <div>
                                        <div class="photo" [style.backgroundImage]="'url('+ data.photo + ')'"></div>
                                    </div>
                                    <div>
                                        <span class="column-name">Client</span>
                                        <span>
                                            {{data.client}}
                                            <fa-icon [icon]="faStar"></fa-icon>
                                        </span>
                                        <div class="client-number">{{data.clientNumber}}</div>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="'activity'">
                                <div class="column-data" [style.width]="column.calculatedWidth">
                                    <span class="column-name">Activity</span>
                                    <span>{{data.activity}}</span>
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="'onDate'">
                                <div class="column-data" [style.width]="column.calculatedWidth">
                                    <span class="column-name">On date</span>
                                    <span>{{data.onDate}}</span>
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="'status'">
                                <div class="column-data" [style.width]="column.calculatedWidth">
                                    <span class="column-name">Status</span>
                                    <div class="point"></div>
                                    <span>{{data.status}}</span>
                                </div>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>