<div class="component-container">
    <div class="title">
        <h3>Line:</h3>
    </div>

    <div class="component-row">

        <div class="component-column">
            <sfc-progress-line></sfc-progress-line>
        </div>

        <div class="component-column">
            <sfc-progress-line [progress]="5"></sfc-progress-line>
        </div>

        <div class="component-column">
            <sfc-progress-line labelStart="Dribbling" [progress]="15"></sfc-progress-line>
        </div>

    </div>

    <div class="component-row">

        <div class="component-column">
            <sfc-progress-line labelEnd="value:30" [progress]="30"></sfc-progress-line>
        </div>

        <div class="component-column">
            <sfc-progress-line labelEnd="value:40" [hideEnd]="true" [progress]="40"></sfc-progress-line>
        </div>

        <div class="component-column">
            <sfc-progress-line labelStart="Dribbling" labelEnd="value:55" [progress]="55"></sfc-progress-line>
        </div>

    </div>

    <div class="component-row">

        <div class="component-column">
            <sfc-progress-line labelStart="Dribbling" [progress]="65"></sfc-progress-line>
        </div>

        <div class="component-column">
            <sfc-progress-line labelStart="Dribbling" [progress]="80"></sfc-progress-line>
        </div>

        <div class="component-column">
            <sfc-progress-line labelStart="Dribbling" [progress]="90"></sfc-progress-line>
        </div>

    </div>

    <div class="component-row">
        <div class="component-column">
            <sfc-progress-line labelStart="Dribbling" [progress]="100"></sfc-progress-line>
        </div>

        <div class="component-column">
            <sfc-progress-line background="red" labelStart="Dribbling" [progress]="60"></sfc-progress-line>
        </div>

        <div class="component-column">
            <button class="app" (click)="increase()">Increase</button>
            <sfc-progress-line labelStart="Dribbling" [progress]="progress"></sfc-progress-line>
        </div>
    </div>

    <div class="component-row">
        <div class="component-column">
            <sfc-progress-line labelStart="Custom color func" [getColor]="getColor" [progress]="20">
            </sfc-progress-line>
        </div>

        <div class="component-column">
            <sfc-progress-line labelStart="Custom color func" [getColor]="getColor" [progress]="50">
            </sfc-progress-line>
        </div>

        <div class="component-column">
            <sfc-progress-line labelStart="Custom color func" [getColor]="getColor" [progress]="85">
            </sfc-progress-line>
        </div>
    </div>

    <div class="component-row">

        <div class="component-column">
            <sfc-progress-line labelStart="Dribbling" [sfcComponentSize]="ComponentSize.Small" [progress]="65">
            </sfc-progress-line>
        </div>

        <div class="component-column">
            <sfc-progress-line labelStart="Dribbling" [sfcComponentSize]="ComponentSize.Large" [progress]="80">
            </sfc-progress-line>
        </div>

        <div class="component-column">
            <sfc-progress-line labelStart="Dribbling" [sfcComponentSize] [customSize]="4.2" [progress]="90">
            </sfc-progress-line>
        </div>

    </div>
</div>