<div class="component-container">
    <div class="title">
        <h3>Texted:</h3>
    </div>

    <div class="component-row">

        <div class="component-column">
            <sfc-button [types]="[ButtonType.Texted]"></sfc-button>
        </div>

        <div class="component-column">
            <sfc-button text="Custom text" [types]="[ButtonType.Texted]"></sfc-button>
        </div>

        <div class="component-column">
            <sfc-button text="Custom text Custom text Custom text Custom text" [types]="[ButtonType.Texted]">
            </sfc-button>
        </div>

    </div>

    <div class="component-row">
        <div class="component-column">
            <sfc-button iconBefore="fa fa-star" text="" [types]="[ButtonType.Texted]">
            </sfc-button>
        </div>

        <div class="component-column">
            <sfc-button iconBefore="fa fa-star" text="Custom text" [types]="[ButtonType.Texted]">
            </sfc-button>
        </div>

        <div class="component-column">
            <sfc-button iconBefore="fa fa-star" text="Custom text" iconAfter="fa fa-car"
                [types]="[ButtonType.Texted]"></sfc-button>
        </div>
    </div>

    <div class="component-row">
        <div class="component-column">
            <sfc-button [disabled]="true" iconAfter="fa fa-car" text="Disabled text" [types]="[ButtonType.Texted]">
            </sfc-button>
        </div>

        <div class="component-column">
            <sfc-button [disabled]="true" iconAfter="fa fa-car" text="" [types]="[ButtonType.Texted]">
            </sfc-button>
        </div>

        <div class="component-column">
            <sfc-button [disabled]="true" text="Disabled text Disabled text Disabled text Disabled text"
                [types]="[ButtonType.Texted]">
            </sfc-button>
        </div>
    </div>

    <div class="component-row">
        <div class="component-column">
            <sfc-button text="Small text" [sfcComponentSize]="ComponentSize.Small" [types]="[ButtonType.Texted]">
            </sfc-button>
        </div>

        <div class="component-column">
            <sfc-button text="Medium text" [sfcComponentSize]="ComponentSize.Medium" [types]="[ButtonType.Texted]">
            </sfc-button>
        </div>

        <div class="component-column">
            <sfc-button text="Large text" [sfcComponentSize]="ComponentSize.Large" [types]="[ButtonType.Texted]">
            </sfc-button>
        </div>
    </div>

    <div class="component-row">

        <div class="component-column">
            <sfc-button text="Custom size text" [sfcComponentSize]="ComponentSize.Custom"
                [customSize]="0.2" [types]="[ButtonType.Texted]">
            </sfc-button>
        </div>

        <div class="component-column">
            <sfc-button text="Custom size text" [sfcComponentSize]="ComponentSize.Custom" [customSize]="4"
                iconAfter="fa fa-car" [types]="[ButtonType.Texted]">
            </sfc-button>
        </div>

    </div>
</div>