<div class="component-container">
    <div class="title">
        <h3>Horizontal:</h3>
    </div>

    <form [formGroup]="formGroup" autocomplete="off">
        <div class="component-row">

            <div class="component-column">
                <sfc-range-input id="demo-range-empty" formControlName="inputRangeNull"></sfc-range-input>
            </div>

            <div class="component-column">
                <sfc-range-input id="demo-range-label" formControlName="inputRangeLabel" label="test label">
                </sfc-range-input>
            </div>

            <div class="component-column">
                <sfc-range-input id="demo-range-icon" formControlName="inputRangeIcon" [icon]="faUser">
                </sfc-range-input>
            </div>
        </div>

        <div class="component-row">
            <div class="component-column">
                <sfc-range-input id="demo-range-helper" formControlName="inputRangeHelper" helperText="helper test">
                </sfc-range-input>
            </div>

            <div class="component-column">
                <sfc-range-input id="demo-range-label-icon" formControlName="inputRangeLabelIcon"
                    label="test label and icon" [icon]="faUser">
                </sfc-range-input>
            </div>

            <div class="component-column">
                <sfc-range-input id="demo-range-label-icon-helper" formControlName="inputRangeLabelIconHelper"
                    label="test label and icon and helper" [icon]="faUser" helperText="helper test and icon and helper">
                </sfc-range-input>
            </div>
        </div>

        <div class="component-row">
            <div class="component-column">
                <sfc-range-input id="demo-range-empty-limits" formControlName="inputRangeNullLimits" [showLimits]="true"
                    [max]="10" [min]="2">
                </sfc-range-input>
            </div>

            <div class="component-column">
                <sfc-range-input id="demo-range-label-limits" formControlName="inputRangeLabelLimits"
                    label="test label limit 20-80" [showLimits]="true" [max]="80" [min]="20">
                </sfc-range-input>
            </div>

            <div class="component-column">
                <sfc-range-input id="demo-range-icon-limits" formControlName="inputRangeIconLimits" [icon]="faUser"
                    [showLimits]="true" [max]="8000" [min]="200">
                </sfc-range-input>
            </div>
        </div>

        <div class="component-row">
            <div class="component-column">
                <sfc-range-input id="demo-range-helper-limits" formControlName="inputRangeHelperLimits"
                    [showLimits]="true" helperText="helper test" [max]="10" [min]="0" [step]="2">
                </sfc-range-input>
            </div>

            <div class="component-column">
                <sfc-range-input id="demo-range-label-icon-limits" formControlName="inputRangeLabelIconLimits"
                    [showLimits]="true" label="test label" [icon]="faUser" [max]="100" [min]="1" [step]="2">
                </sfc-range-input>
            </div>

            <div class="component-column">
                <sfc-range-input id="demo-range-label-icon-helper-limits"
                    formControlName="inputRangeLabelIconHelperLimits" [showLimits]="true" label="test label"
                    [icon]="faUser" helperText="helper test" [max]="12" [min]="8" [step]="1">
                </sfc-range-input>
            </div>
        </div>

        <div class="component-row">
            <div class="component-column">
                <sfc-range-input id="demo-range-empty-limit-icon" formControlName="inputRangeNullLimitIcons"
                    [showLimits]="false" [max]="10" [min]="2" [startIcon]="faMinus" [endIcon]="faPlus">
                </sfc-range-input>
            </div>

            <div class="component-column">
                <sfc-range-input id="demo-range-label-limit-icon" formControlName="inputRangeLabelLimitIcons"
                    label="test label limit 20-80" [showLimits]="false" [max]="80" [min]="20" [startIcon]="faMinus"
                    [endIcon]="faPlus">
                </sfc-range-input>
            </div>

            <div class="component-column">
                <sfc-range-input id="demo-range-icon-limit-icon" formControlName="inputRangeIconLimitIcons"
                    [icon]="faUser" [showLimits]="false" [max]="8000" [min]="200" [startIcon]="faMinus"
                    [endIcon]="faPlus">
                </sfc-range-input>
            </div>
        </div>

        <div class="component-row">
            <div class="component-column">
                <sfc-range-input id="demo-range-helper-limit-icon" formControlName="inputRangeHelperLimitIcons"
                    [showLimits]="false" helperText="helper test limit 0-10" [max]="10" [min]="0" [step]="2"
                    [startIcon]="faMinus" [endIcon]="faPlus">
                </sfc-range-input>
            </div>

            <div class="component-column">
                <sfc-range-input id="demo-range-label-icon-limit-icon" formControlName="inputRangeLabelIconLimitIcons"
                    [showLimits]="false" label="test label limit 1-100 without start" [icon]="faUser" [max]="100"
                    [min]="1" [step]="2" [endIcon]="faPlus">
                </sfc-range-input>
            </div>

            <div class="component-column">
                <sfc-range-input id="demo-range-label-icon-helper-limit-icon"
                    formControlName="inputRangeLabelIconHelperLimitIcons" [showLimits]="false"
                    label="test label limit 8-12 without finish" [icon]="faUser" helperText="helper test limit 8-12"
                    [max]="12" [min]="8" [step]="1" [startIcon]="faMinus">
                </sfc-range-input>
            </div>
        </div>

        <div class="component-row">
            <div class="component-column">
                <sfc-range-input id="demo-range-empty-show-value" formControlName="inputRangeNullShowValue"
                    [showValue]="true">
                </sfc-range-input>
            </div>

            <div class="component-column">
                <sfc-range-input id="demo-range-label-show-value" formControlName="inputRangeLabelShowValue"
                    label="test label" [showValue]="true">
                </sfc-range-input>
            </div>

            <div class="component-column">
                <sfc-range-input id="demo-range-icon-show-value" formControlName="inputRangeIconShowValue"
                    [icon]="faUser" [showValue]="true">
                </sfc-range-input>
            </div>
        </div>

        <div class="component-row">
            <div class="component-column">
                <sfc-range-input id="demo-range-helper-show-value" formControlName="inputRangeHelperShowValue"
                    [showValue]="true" helperText="helper test">
                </sfc-range-input>
            </div>

            <div class="component-column">
                <sfc-range-input id="demo-range-label-icon-show-value" formControlName="inputRangeLabelIconShowValue"
                    [showValue]="true" label="test label" [icon]="faUser">
                </sfc-range-input>
            </div>

            <div class="component-column">
                <sfc-range-input id="demo-range-label-icon-helper-show-value"
                    formControlName="inputRangeLabelIconHelperShowValue" [showValue]="true" label="test label limit"
                    [icon]="faUser" helperText="helper test">
                </sfc-range-input>
            </div>
        </div>

        <div class="component-row">
            <div class="component-column">
                <sfc-range-input id="demo-range-helper-without-tooltip" formControlName="inputRangeHelperWithoutTooltip"
                    [tooltip]="false" [showValue]="true" helperText="helper test without tooltip">
                </sfc-range-input>
            </div>

            <div class="component-column">
                <sfc-range-input id="demo-range-label-icon-without-tooltip"
                    formControlName="inputRangeLabelIconWithoutTooltip" [tooltip]="false" [showValue]="true"
                    label="test label without tooltip" [icon]="faUser">
                </sfc-range-input>
            </div>

            <div class="component-column">
                <sfc-range-input id="demo-range-label-icon-helper-without-tooltip"
                    formControlName="inputRangeLabelIconHelperWithoutTooltip" [showValue]="true" [tooltip]="false"
                    label="test label limit without tooltip" [icon]="faUser" helperText="helper test without tooltip">
                </sfc-range-input>
            </div>
        </div>

        <div class="component-row">
            <div class="component-column">
                <sfc-range-input id="demo-range-empty-disabled" formControlName="inputRangeNullDisabled">
                </sfc-range-input>
            </div>

            <div class="component-column">
                <sfc-range-input id="demo-range-label-disabled" formControlName="inputRangeLabelDisabled"
                    label="test label DISABLED" [showValue]="true">
                </sfc-range-input>
            </div>

            <div class="component-column">
                <sfc-range-input id="demo-range-icon-disabled" formControlName="inputRangeIconDisabled" [icon]="faUser"
                    [showLimits]="true">
                </sfc-range-input>
            </div>
        </div>

        <div class="component-row">
            <div class="component-column">
                <sfc-range-input id="demo-range-helper-disabled" formControlName="inputRangeHelperDisabled"
                    helperText="helper test DISABLED" [startIcon]="faMinus" [endIcon]="faPlus">
                </sfc-range-input>
            </div>

            <div class="component-column">
                <sfc-range-input id="demo-range-label-icon-disabled" formControlName="inputRangeLabelIconDisabled"
                    label="test label and icon DISABLED" [icon]="faUser">
                </sfc-range-input>
            </div>

            <div class="component-column">
                <sfc-range-input id="demo-range-label-icon-helper-disabled"
                    formControlName="inputRangeLabelIconHelperDisabled" label="test label and icon and helper"
                    [icon]="faUser" helperText="helper test and icon and helper DISABLED">
                </sfc-range-input>
            </div>
        </div>

        <div class="component-row">
            <div class="component-column">
                <sfc-range-input id="demo-range-empty-validation" formControlName="inputRangeNullValidation"
                    label="test label maximum 10">
                </sfc-range-input>
            </div>

            <div class="component-column">
                <sfc-range-input id="demo-range-label-validation" formControlName="inputRangeLabelValidation"
                    label="test label minimum 20" [showValue]="true">
                </sfc-range-input>
            </div>

            <div class="component-column">
                <sfc-range-input id="demo-range-icon-validation" formControlName="inputRangeIconValidation"
                    [icon]="faUser" [showLimits]="true" label="test label equal 12">
                </sfc-range-input>
            </div>
        </div>

        <div class="component-row">
            <div class="component-column">
                <sfc-range-input id="demo-range-helper-validation" formControlName="inputRangeHelperValidation"
                    helperText="helper test equal 100" [startIcon]="faMinus" [endIcon]="faPlus">
                </sfc-range-input>
            </div>

            <div class="component-column">
                <sfc-range-input id="demo-range-label-icon-validation" formControlName="inputRangeLabelIconValidation"
                    label="test label and icon equal 1" [icon]="faUser">
                </sfc-range-input>
            </div>

            <div class="component-column">
                <sfc-range-input id="demo-range-label-icon-helper-validation"
                    formControlName="inputRangeLabelIconHelperValidation" label="test label and icon and helper"
                    [icon]="faUser" helperText="helper test and icon and helper minimum 100">
                </sfc-range-input>
            </div>
        </div>

        <div class="component-row">
            <div class="component-column">
                <sfc-range-input id="demo-range-empty-validation" formControlName="inputRangeNullValidationMessage"
                    label="test label maximum 10" [validations]="{max: 'Value must be maximum 10.'}">
                </sfc-range-input>
            </div>

            <div class="component-column">
                <sfc-range-input id="demo-range-label-validation" formControlName="inputRangeLabelValidationMessage"
                    label="test label minimum 20" [showValue]="true" [validations]="{min: 'Value must be minimum 20'}">
                </sfc-range-input>
            </div>

            <div class="component-column">
                <sfc-range-input id="demo-range-icon-validation" formControlName="inputRangeIconValidationMessage"
                    [icon]="faUser" [showLimits]="true" label="test label equal 12"
                    [validations]="{sfcEqualOrInclude: 'Value must be equal 12.'}">
                </sfc-range-input>
            </div>
        </div>

        <div class="component-row">
            <div class="component-column">
                <sfc-range-input id="demo-range-helper-validation" formControlName="inputRangeHelperValidationMessage"
                    helperText="helper test equal 100" [startIcon]="faMinus" [endIcon]="faPlus"
                    [validations]="{sfcEqualOrInclude: 'Value must be equal 100.'}">
                </sfc-range-input>
            </div>

            <div class="component-column">
                <sfc-range-input id="demo-range-label-icon-validation"
                    formControlName="inputRangeLabelIconValidationMessage" label="test label and icon equal 1"
                    [icon]="faUser" [validations]="{sfcEqualOrInclude: 'Value must be equal 1.'}">
                </sfc-range-input>
            </div>

            <div class="component-column">
                <sfc-range-input id="demo-range-label-icon-helper-validation"
                    formControlName="inputRangeLabelIconHelperValidationMessage" label="test label and icon and helper"
                    [icon]="faUser" helperText="helper test and icon and helper minimum 100"
                    [validations]="{min: 'Value must be minimum 100.'}">
                </sfc-range-input>
            </div>
        </div>

        <div class="component-row">
            <div class="component-column">
                <sfc-range-input id="demo-range-small" formControlName="inputRangeSmall" label="Small"
                    helperText="Small helper" [icon]="faUser" [startIcon]="faMinus" [endIcon]="faPlus"
                    [sfcComponentSize]="ComponentSize.Small">
                </sfc-range-input>
            </div>

            <div class="component-column">
                <sfc-range-input id="demo-range-large" formControlName="inputRangeLarge" label="Large"
                    helperText="Large helper" [icon]="faUser" [startIcon]="faMinus" [endIcon]="faPlus"
                    [sfcComponentSize]="ComponentSize.Large">
                </sfc-range-input>
            </div>

            <div class="component-column">
                <sfc-range-input id="demo-range-custom" formControlName="inputRangeCustom" label="Custom"
                    helperText="Custom helper" [icon]="faUser" [startIcon]="faMinus" [endIcon]="faPlus"
                    [sfcComponentSize] [customSize]="4.2">
                </sfc-range-input>
            </div>
        </div>

        <div>
            <pre><code>{{ formGroup.value | json }}</code></pre>
            <h1>Valid: {{formGroup.valid}}</h1>
        </div>
    </form>
</div>