@import "./color-variables";

.component-container {
  padding: 0 20px;

  > .title {
    text-align: center;
    color: $color-dark;

    :host-context(.sfc-dark-theme) & {
      color: $color-common;
    }

    h3 {
      text-overflow: ellipsis;
      overflow: hidden; // @include text-ellipsis;
    }
  }

  .component-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

    .component-column {
      display: flex;
      justify-content: center;
      flex-basis: 30%;
      padding: 5px;

      &.full {
        flex-basis: 100%;
      }

      &.half {
        flex-basis: 45%;
      }

      &.column-direction {
        flex-direction: column;
      }

      :host-context(.sfc-dark-theme) & {
        color: $color-common;
      }
    }
  }

  :host-context(.sfc-dark-theme) & {
    color: $color-common;
  }
}
