$color-common: #fff;
$color-dark: #434a54;
$background-common: #fff;
$background-dark: #1a2225;

$button-background-default: #656d78;
$button-background-hover: #404244;
$button-background-active: #ffce54;

$routing-background-color: #f1f1f1;
