<div class="component-container">
    <div class="title">
        <h3>Date:</h3>
    </div>

    <form [formGroup]="formGroup" autocomplete="off">
        <div class="component-row">

            <div class="component-column">
                <sfc-datetime-input id="demo-date-empty" formControlName="inputDateNull" [time]="false">
                </sfc-datetime-input>
            </div>

            <div class="component-column">
                <sfc-datetime-input id="demo-date-label" formControlName="inputDateLabel" [time]="false"
                    label="test label">
                </sfc-datetime-input>
            </div>

            <div class="component-column">
                <sfc-datetime-input id="demo-date-icon" formControlName="inputDateIcon" [time]="false" [icon]="faUser">
                </sfc-datetime-input>
            </div>

        </div>

        <div class="component-row">

            <div class="component-column">
                <sfc-datetime-input id="demo-date-helper" formControlName="inputDateHelper" [time]="false"
                    helperText="test helper text">
                </sfc-datetime-input>
            </div>

            <div class="component-column">
                <sfc-datetime-input id="demo-date-disabled" formControlName="inputDateDisabled" [time]="false"
                    helperText="test helper text" [icon]="faUser" label="test label">
                </sfc-datetime-input>
            </div>

            <div class="component-column">
                <sfc-datetime-input id="demo-date-value" formControlName="inputDateValue" [time]="false" [icon]="faUser"
                    label="test label">
                </sfc-datetime-input>
            </div>

        </div>

        <div class="component-row">

            <div class="component-column">
                <sfc-datetime-input id="demo-date-validation" formControlName="inputDateValidation" [time]="false"
                    [icon]="faUser" helperText="valid only 1/12/2020">
                </sfc-datetime-input>
            </div>

            <div class="component-column">
                <sfc-datetime-input id="demo-date-valid" formControlName="inputDateValid" [time]="false"
                    label="valid value" helperText="valid only 1/12/2020">
                </sfc-datetime-input>
            </div>

            <div class="component-column">
                <sfc-datetime-input id="demo-date-invalid" formControlName="inputDateInValid" [time]="false"
                    [icon]="faUser" label="invalid value" helperText="valid only 1/12/2020">
                </sfc-datetime-input>
            </div>

        </div>

        <div class="component-row">

            <div class="component-column">
                <sfc-datetime-input id="demo-date-week-start" formControlName="inputDateWeekStart" [time]="false"
                    [icon]="faUser" label="sunday start" helper-text="week start from sunday" [weekStart]="0">
                </sfc-datetime-input>
            </div>

            <div class="component-column">
                <sfc-datetime-input id="demo-date-all-buttons" formControlName="inputDateAllButtons" [time]="false"
                    [icon]="faUser" label="all buttons" helperText="+ clear and now button" [clearButton]="true"
                    [nowButton]="true">
                </sfc-datetime-input>
            </div>

            <div class="component-column">
                <sfc-datetime-input id="demo-date-switch-on-click" formControlName="inputDateSwithcOnClick"
                    [time]="false" [icon]="faUser" label="+ switch" helperText="switch on click" [clearButton]="true"
                    [nowButton]="true" [switchOnClick]="true">
                </sfc-datetime-input>
            </div>

        </div>

        <div class="component-row">

            <div class="component-column">
                <sfc-datetime-input id="demo-date-min-date" formControlName="inputDateMin" [time]="false"
                    [icon]="faUser" label="min now and max next 7 days"
                    helperText="allow only more than now and less than 7 days ahead" [maxDate]="tempDate"
                    [minDate]="minDate">
                </sfc-datetime-input>
            </div>

            <div class="component-column">
                <sfc-datetime-input id="demo-date-max-date" formControlName="inputDateMax" [time]="false"
                    [icon]="faUser" label="max now" helperText="allow only less than now" [maxDate]="maxDate">
                </sfc-datetime-input>
            </div>

            <div class="component-column">
                <sfc-datetime-input id="demo-date-disabled-day" formControlName="inputDateDisabledDay" [time]="false"
                    [icon]="faUser" label="now is disabled" helperText="disabled now" [disabledDays]="disabledDates"
                    [clearButton]="true" [nowButton]="true">
                </sfc-datetime-input>
            </div>

        </div>

        <div class="component-row">
            <div class="component-column">
                <sfc-datetime-input id="demo-date-format" formControlName="inputDateFormat1" [time]="false"
                    [icon]="faUser" label="Jun 15, 2015" helperText="format: Jun 15, 2015" format="MMM d, y">
                </sfc-datetime-input>
            </div>
        </div>

        <div class="component-row">

            <div class="component-column">
                <sfc-datetime-input id="demo-date-small" formControlName="inputDateSmall" [time]="false" [icon]="faUser"
                    label="Small label" helperText="Small helper" [icon]="faUser" [clearButton]="true"
                    [nowButton]="true" [sfcComponentSize]="ComponentSize.Small">
                </sfc-datetime-input>
            </div>

            <div class="component-column">
                <sfc-datetime-input id="demo-date-large" formControlName="inputDateLarge" [time]="false" [icon]="faUser"
                    label="Large label" helperText="Large helper" [icon]="faUser" [clearButton]="true"
                    [nowButton]="true" [sfcComponentSize]="ComponentSize.Large">
                </sfc-datetime-input>
            </div>

            <div class="component-column">
                <sfc-datetime-input id="demo-date-custom" formControlName="inputDateCustom" [time]="false"
                    [icon]="faUser" label="Custom label" helperText="Custom helper" [icon]="faUser" [clearButton]="true"
                    [nowButton]="true" [sfcComponentSize] [customSize]="4.2">
                </sfc-datetime-input>
            </div>

        </div>

        <div>
            <pre><code>{{ formGroup.value | json }}</code></pre>
            <h1>Valid: {{formGroup.valid}}</h1>
        </div>
    </form>

</div>