<div class="component-container">
    <div class="title">
        <h3>Bordered:</h3>
    </div>

    <div class="component-row">

        <div class="component-column">
            <sfc-button></sfc-button>
        </div>

        <div class="component-column">
            <sfc-button text="Custom text"></sfc-button>
        </div>

        <div class="component-column">
            <sfc-button text="Custom text Custom text Custom text Custom text">
            </sfc-button>
        </div>

    </div>

    <div class="component-row">

        <div class="component-column">
            <sfc-button [iconBefore]="faStar"></sfc-button>
        </div>

        <div class="component-column">
            <sfc-button [iconBefore]="faStar" text="Custom text">
            </sfc-button>
        </div>

        <div class="component-column">
            <sfc-button [iconBefore]="faStar" text="Custom text" [iconAfter]="faCar">
            </sfc-button>
        </div>

    </div>

    <div class="component-row">

        <div class="component-column">
            <sfc-button [disabled]="true" [iconAfter]="faCar" text="Disabled text">
            </sfc-button>
        </div>

        <div class="component-column">
            <sfc-button [disabled]="true" [iconAfter]="faCar">
            </sfc-button>
        </div>

        <div class="component-column">
            <sfc-button [disabled]="true" text="Disabled text Disabled text Disabled text Disabled text">
            </sfc-button>
        </div>

    </div>

    <div class="component-row">

        <div class="component-column">
            <sfc-button text="Small text" [sfcComponentSize]="ComponentSize.Small">
            </sfc-button>
        </div>

        <div class="component-column">
            <sfc-button text="Medium text" [sfcComponentSize]="ComponentSize.Medium">
            </sfc-button>
        </div>

        <div class="component-column">
            <sfc-button text="Large text" [sfcComponentSize]="ComponentSize.Large">
            </sfc-button>
        </div>

    </div>

    <div class="component-row">

        <div class="component-column">
            <sfc-button text="Custom size text" [sfcComponentSize]="ComponentSize.Custom" [customSize]="0.2">
            </sfc-button>
        </div>

        <div class="component-column">
            <sfc-button text="Custom size text" [sfcComponentSize]="ComponentSize.Custom" [customSize]="4"
                [iconAfter]="faCar">
            </sfc-button>
        </div>

    </div>
</div>