<div class="buttons-container">
    <div class="component-routing">
        <div class="routing-link" routerLinkActive="menu-active">
            <button class="app" routerLinkActive="menu-active" routerLink="input"
                [queryParams]="{theme: theme}">Input</button>
        </div>
        <div class="routing-link" routerLinkActive="menu-active">
            <button class="app" routerLinkActive="menu-active" routerLink="inline" [queryParams]="{theme: theme}">Inline</button>
        </div>
    </div>

    <router-outlet></router-outlet>
</div>