<div class="buttons-container">
    <div class="component-routing">
        <div class="routing-link" routerLinkActive="menu-active">
            <button class="app" routerLinkActive="menu-active" routerLink="common"
                [queryParams]="{theme: theme}">Common</button>
        </div>
        <div class="routing-link" routerLinkActive="menu-active">
            <button class="app" routerLinkActive="menu-active" routerLink="edit"
                [queryParams]="{theme: theme}">Edit</button>
        </div>
    </div>

    <router-outlet></router-outlet>
</div>