<div class="component-container">
    <div class="title">
        <h3>Toggle switchers:</h3>
    </div>

    <div class="component-row">

        <div class="component-column">
            <sfc-toggle-switcher></sfc-toggle-switcher>
        </div>

        <div class="component-column">
            <sfc-toggle-switcher [active]="true"></sfc-toggle-switcher>
        </div>

    </div>

    <div class="component-row">
        <div class="component-column">
            <sfc-toggle-switcher [leftModel]="{label:'test1', icon:faCar}"></sfc-toggle-switcher>
        </div>

        <div class="component-column">
            <sfc-toggle-switcher [leftModel]="{label:'', icon:faCar}"></sfc-toggle-switcher>
        </div>

        <div class="component-column">
            <sfc-toggle-switcher [leftModel]="{label:'test1'}"></sfc-toggle-switcher>
        </div>
    </div>

    <div class="component-row">
        <div class="component-column">
            <sfc-toggle-switcher [rightModel]="{label:'test1', icon:faCar}"></sfc-toggle-switcher>
        </div>

        <div class="component-column">
            <sfc-toggle-switcher [rightModel]="{label:'', icon:faCar}"></sfc-toggle-switcher>
        </div>

        <div class="component-column">
            <sfc-toggle-switcher [rightModel]="{label:'test1'}"></sfc-toggle-switcher>
        </div>
    </div>

    <div class="component-row">
        <div class="component-column">
            <sfc-toggle-switcher [leftModel]="{label:'test1', icon:faCar}" [rightModel]="{label:'test1', icon:faStar}"
                [sfcComponentSize]="ComponentSize.Small">
            </sfc-toggle-switcher>
        </div>

        <div class="component-column">
            <sfc-toggle-switcher [leftModel]="{label:'test1', icon:faCar}" [rightModel]="{label:'test1', icon:faStar}"
                [sfcComponentSize]="ComponentSize.Medium">
            </sfc-toggle-switcher>
        </div>

        <div class="component-column">
            <sfc-toggle-switcher [leftModel]="{label:'test1', icon:faCar}" [rightModel]="{label:'test1', icon:faStar}"
                [sfcComponentSize]="ComponentSize.Large">
            </sfc-toggle-switcher>
        </div>
    </div>
</div>