<header>

    <div class="routing-container">
        <a routerLink="" class="logo">SFC components</a>
        <div class="routing-links">
            <a routerLinkActive="menu-active" routerLink="buttons" [queryParams]="{theme: theme}">Buttons</a>
            <a routerLinkActive="menu-active" routerLink="tooltips" [queryParams]="{theme: theme}">Tooltips</a>
            <a routerLinkActive="menu-active" routerLink="loaders" [queryParams]="{theme: theme}">Loaders</a>
            <a routerLinkActive="menu-active" routerLink="modals" [queryParams]="{theme: theme}">Modals</a>
            <a routerLinkActive="menu-active" routerLink="toggle-switchers" [queryParams]="{theme: theme}">Toggle
                switchers</a>
            <a routerLinkActive="menu-active" routerLink="tabs" [queryParams]="{theme: theme}">Tabs</a>
            <a routerLinkActive="menu-active" routerLink="menus" [queryParams]="{theme: theme}">Menus</a>
            <a routerLinkActive="menu-active" routerLink="stars" [queryParams]="{theme: theme}">Stars</a>
            <a routerLinkActive="menu-active" routerLink="avatars" [queryParams]="{theme: theme}">Avatars</a>
            <a routerLinkActive="menu-active" routerLink="progress" [queryParams]="{theme: theme}">Progress</a>
            <a routerLinkActive="menu-active" routerLink="tags" [queryParams]="{theme: theme}">Tags</a>
            <a routerLinkActive="menu-active" routerLink="sliders" [queryParams]="{theme: theme}">Sliders</a>
        </div>
    </div>

</header>

<main>

    <div class="presentation-container" [ngClass]="theme == ThemeType.Default 
        ? UIConstants.DEFAULT_THEME : UIConstants.DARK_THEME">
        <div class="theme-switcher">
            <button [class.active]="theme == ThemeType.Default" class="app common"
                (click)="changeTheme(ThemeType.Default)">Common</button>
            <button [class.active]="theme == ThemeType.Dark" class="app dark"
                (click)="changeTheme(ThemeType.Dark)">Dark</button>
        </div>

        <div class="components-container">

            <router-outlet></router-outlet>

        </div>
    </div>

</main>