<div class="component-container">
    <div class="title">
        <h3>Tooltips:</h3>
    </div>

    <div class="component-row">

        <div class="component-column">
            <p sfc-tooltip="paragraph tooltip">
                top tooltip paragraph
            </p>
        </div>

        <div class="component-column">
            <p sfc-tooltip="paragraph tooltip" [tooltipPosition]="Position.Left">
                left tooltip paragraph
            </p>
        </div>

        <div class="component-column">
            <p sfc-tooltip="paragraph tooltip" [tooltipPosition]="Position.Right">
                right tooltip paragraph
            </p>
        </div>

    </div>

    <div class="component-row">

        <div class="component-column">
            <p sfc-tooltip="paragraph tooltip" [tooltipPosition]="Position.Bottom">
                bottom tooltip paragraph
            </p>
        </div>

    </div>

    <div class="component-row">

        <div class="component-column">
            <a href="#" sfc-tooltip="link tooltip">
                top tooltip link
            </a>
        </div>

        <div class="component-column">
            <a href="#" sfc-tooltip="link tooltip" [tooltipPosition]="Position.Left">
                left tooltip link
            </a>
        </div>

        <div class="component-column">
            <a href="#" sfc-tooltip="link tooltip" [tooltipPosition]="Position.Right">
                right tooltip link
            </a>
        </div>

    </div>

    <div class="component-row">

        <div class="component-column">
            <a href="#" sfc-tooltip="link tooltip" [tooltipPosition]="Position.Bottom">
                bottom tooltip link
            </a>
        </div>

    </div>

    <div class="component-row">
        <div class="component-column">
            <button sfc-tooltip="button tooltip">
                top tooltip button
            </button>
        </div>

        <div class="component-column">
            <button sfc-tooltip="button tooltip" [tooltipPosition]="Position.Left">
                left tooltip button
            </button>
        </div>

        <div class="component-column">
            <button sfc-tooltip="button tooltip" [tooltipPosition]="Position.Right">
                right tooltip button
            </button>
        </div>
    </div>

    <div class="component-row">
        <div class="component-column">
            <button sfc-tooltip="button tooltip" [tooltipPosition]="Position.Bottom">
                bottom tooltip button
            </button>
        </div>
    </div>

    <div class="component-row">

        <div class="component-column">
            <p sfc-tooltip="paragraph tooltip click tooltipType" [tooltipType]="TooltipType.Click">
                top tooltip paragraph click tooltipType
            </p>
        </div>

        <div class="component-column">
            <p sfc-tooltip="paragraph tooltip click tooltipType" [tooltipPosition]="Position.Left"
                [tooltipType]="TooltipType.Click">
                left tooltip paragraph click tooltipType
            </p>
        </div>

        <div class="component-column">
            <p sfc-tooltip="paragraph tooltip click tooltipType" [tooltipPosition]="Position.Right"
                [tooltipType]="TooltipType.Click">
                right tooltip paragraph click tooltipType
            </p>
        </div>

    </div>

    <div class="component-row">

        <div class="component-column">
            <p sfc-tooltip="paragraph tooltip click tooltipType" [tooltipPosition]="Position.Bottom"
                [tooltipType]="TooltipType.Click">
                bottom tooltip paragraph click tooltipType
            </p>
        </div>

    </div>

    <div class="component-row">

        <div class="component-column">
            <p sfc-tooltip="small top tooltip" [sfcComponentSize]="ComponentSize.Small">
                small top tooltip paragraph
            </p>
        </div>

        <div class="component-column">
            <p sfc-tooltip="medium top tooltip" [sfcComponentSize]="ComponentSize.Medium">
                medium top tooltip paragraph
            </p>
        </div>

        <div class="component-column">
            <p sfc-tooltip="large top tooltip" [sfcComponentSize]="ComponentSize.Large">
                large top tooltip paragraph
            </p>
        </div>

    </div>

    <div class="component-row">

        <div class="component-column">
            <p sfc-tooltip="small right tooltip" [sfcComponentSize]="ComponentSize.Small"
                [tooltipPosition]="Position.Right">
                small right tooltip paragraph
            </p>
        </div>

        <div class="component-column">
            <p sfc-tooltip="medium right tooltip" [sfcComponentSize]="ComponentSize.Medium"
                [tooltipPosition]="Position.Right">
                medium right tooltip paragraph
            </p>
        </div>

        <div class="component-column">
            <p sfc-tooltip="large right tooltip" [sfcComponentSize]="ComponentSize.Large"
                [tooltipPosition]="Position.Right">
                large right tooltip paragraph
            </p>
        </div>

    </div>

    <div class="component-row">

        <div class="component-column">
            <p sfc-tooltip="small bottom tooltip" [sfcComponentSize]="ComponentSize.Small"
                [tooltipPosition]="Position.Bottom">
                small bottom tooltip paragraph
            </p>
        </div>

        <div class="component-column">
            <p sfc-tooltip="medium bottom tooltip" [sfcComponentSize]="ComponentSize.Medium"
                [tooltipPosition]="Position.Bottom">
                medium bottom tooltip paragraph
            </p>
        </div>

        <div class="component-column">
            <p sfc-tooltip="medium bottom tooltip" [sfcComponentSize]="ComponentSize.Large"
                [tooltipPosition]="Position.Bottom">
                large bottom tooltip paragraph
            </p>
        </div>
    </div>

    <div class="component-row">

        <div class="component-column">
            <p sfc-tooltip="small left tooltip" [sfcComponentSize]="ComponentSize.Small"
                [tooltipPosition]="Position.Left">
                small left tooltip paragraph
            </p>
        </div>

        <div class="component-column">
            <p sfc-tooltip="medium left tooltip ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss"
                [sfcComponentSize]="ComponentSize.Medium" [tooltipPosition]="Position.Left">
                medium bottom tooltip paragraph
            </p>
        </div>

        <div class="component-column">
            <p sfc-tooltip="large left tooltip" [sfcComponentSize]="ComponentSize.Large"
                [tooltipPosition]="Position.Left">
                large left tooltip paragraph
            </p>
        </div>
    </div>

    <div class="component-row">

        <div class="component-column">
            <p sfc-tooltip="custom small left tooltip" [sfcComponentSize]="ComponentSize.Small" [customSize]="0.2"
                [tooltipPosition]="Position.Left">
                custom small tooltip paragraph
            </p>
        </div>

        <div class="component-column">
            <p sfc-tooltip="custom large left tooltip" [sfcComponentSize]="ComponentSize.Medium" [customSize]="4.2"
                [tooltipPosition]="Position.Left">
                custom large tooltip paragraph
            </p>
        </div>
    </div>
</div>