<div class="component-container">
    <div class="title">
        <h3>Avatars:</h3>
    </div>

    <div class="component-row">

        <div class="component-column">
            <sfc-avatar [radius]="40"></sfc-avatar>
        </div>

        <div class="component-column">
            <sfc-avatar></sfc-avatar>
        </div>

        <div class="component-column">
            <sfc-avatar [radius]="160"></sfc-avatar>
        </div>

    </div>

    <div class="component-row">

        <div class="component-column">
            <sfc-avatar [stroke]="1"></sfc-avatar>
        </div>

        <div class="component-column">
            <sfc-avatar [stroke]="3"></sfc-avatar>
        </div>

        <div class="component-column">
            <sfc-avatar [stroke]="10" [badges]="badges"></sfc-avatar>
        </div>

    </div>

    <div class="component-row">

        <div class="component-column">
            <button class="app" (click)="updateProgressValue()">Increase progress</button>
            <sfc-avatar [progress]="progressOne"></sfc-avatar>
        </div>

        <div class="component-column">
            <sfc-avatar [progress]="progressHalf"></sfc-avatar>
        </div>

        <div class="component-column">
            <sfc-avatar [progress]="progress99"></sfc-avatar>
        </div>

    </div>

    <div class="component-row">

        <div class="component-column">
            <sfc-avatar [progress]="29" [progressModel]="progressColor"></sfc-avatar>
        </div>

        <div class="component-column">
            <sfc-avatar [progress]="13" [progressModel]="progressFilledColor"></sfc-avatar>
        </div>

        <div class="component-column">
            <sfc-avatar [progress]="67" [progressModel]="progressFullColor" [badges]="badges"></sfc-avatar>
        </div>

    </div>

    <div class="component-row">

        <div class="component-column">
            <sfc-avatar [data]="data"></sfc-avatar>
        </div>

        <div class="component-column">
            <sfc-avatar [data]="dataImage"></sfc-avatar>
        </div>

        <div class="component-column">
            <sfc-avatar [data]="dataImage" [stars]="true" [starsValue]="4.75"></sfc-avatar>
        </div>

    </div>

    <div class="component-row">

        <div class="component-column">
            <sfc-avatar [radius]="40" [sfcComponentSize]="ComponentSize.Small" [stars]="true" [starsValue]="1.75"
                [data]="dataImage" [badges]="badgesIcons"></sfc-avatar>
        </div>

        <div class="component-column">
            <sfc-avatar [radius]="160" [sfcComponentSize]="ComponentSize.Large" [stars]="true" [starsValue]="2.15"
                [data]="dataImage" [badges]="badgesIcons"></sfc-avatar>
        </div>

        <div class="component-column">
            <sfc-avatar [radius]="336" [sfcComponentSize] [customSize]="4.2" [stars]="true" [starsValue]="3.85"
                [data]="dataImage" [badges]="badgesIcons"></sfc-avatar>
        </div>

    </div>

    <div class="component-row">

        <div class="component-column">
            <sfc-avatar [radius]="40" [sfcComponentSize]="ComponentSize.Small" [stars]="true" [starsValue]="1.75"
                [data]="dataImage" [badges]="badges"></sfc-avatar>
        </div>

        <div class="component-column">
            <sfc-avatar [radius]="160" [sfcComponentSize]="ComponentSize.Large" [stars]="true" [starsValue]="2.15"
                [data]="dataImage" [badges]="badges"></sfc-avatar>
        </div>

        <div class="component-column">
            <sfc-avatar [radius]="336" [sfcComponentSize] [customSize]="4.2" [stars]="true" [starsValue]="3.85"
                [data]="dataImage" [badges]="badges"></sfc-avatar>
        </div>

    </div>
</div>