<div class="component-container">
    <div class="title">
        <h3>Avatars:</h3>
    </div>

    <div class="component-row">

        <div class="component-column">
            <sfc-avatar [radius]="40"></sfc-avatar>
        </div>

        <div class="component-column">
            <sfc-avatar></sfc-avatar>
        </div>

        <div class="component-column">
            <sfc-avatar [radius]="160"></sfc-avatar>
        </div>

    </div>

    <div class="component-row">

        <div class="component-column">
            <sfc-avatar [stroke]="1"></sfc-avatar>
        </div>

        <div class="component-column">
            <sfc-avatar [stroke]="3"></sfc-avatar>
        </div>

        <div class="component-column">
            <sfc-avatar [stroke]="10">
                <sfc-avatar-badge [position]="AvatarBadgePosition.Top">16</sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.Bottom">26</sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.Right">36</sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.RightBottom">46</sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.RightTop">56</sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.Left">66</sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.LeftBottom">76</sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.LeftTop">86</sfc-avatar-badge>
            </sfc-avatar>
        </div>

    </div>

    <div class="component-row">

        <div class="component-column">
            <button class="app" (click)="updateProgressValue()">Increase progress</button>
            <sfc-avatar [progress]="progressOne"></sfc-avatar>
        </div>

        <div class="component-column">
            <sfc-avatar [progress]="progressHalf"></sfc-avatar>
        </div>

        <div class="component-column">
            <sfc-avatar [progress]="progress99"></sfc-avatar>
        </div>

    </div>

    <div class="component-row">

        <div class="component-column">
            <sfc-avatar [progress]="29" [progressModel]="progressColor"></sfc-avatar>
        </div>

        <div class="component-column">
            <sfc-avatar [progress]="13" [progressModel]="progressFilledColor"></sfc-avatar>
        </div>

        <div class="component-column">
            <sfc-avatar [progress]="67" [progressModel]="progressFullColor">
                <sfc-avatar-badge [position]="AvatarBadgePosition.Top">16</sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.Bottom">26</sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.Right">36</sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.RightBottom">46</sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.RightTop">56</sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.Left">66</sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.LeftBottom">76</sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.LeftTop">86</sfc-avatar-badge>
            </sfc-avatar>
        </div>

    </div>

    <div class="component-row">

        <div class="component-column">
            <sfc-avatar [data]="data"></sfc-avatar>
        </div>

        <div class="component-column">
            <sfc-avatar [data]="dataImage"></sfc-avatar>
        </div>

        <div class="component-column">
            <sfc-avatar [data]="dataImage" [stars]="true" [starsValue]="4.75"></sfc-avatar>
        </div>

    </div>

    <div class="component-row">

        <div class="component-column">
            <sfc-avatar [radius]="40" [sfcComponentSize]="ComponentSize.Small" [stars]="true" [starsValue]="1.75"
                [data]="dataImage">
                <sfc-avatar-badge [position]="AvatarBadgePosition.Right" [background]="'#8CC152'">
                    <fa-icon [icon]="faCopyright"></fa-icon>
                </sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.RightBottom">46</sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.RightTop" [background]="'#ED5565'">
                    <fa-icon [icon]="faPlus"></fa-icon>
                </sfc-avatar-badge>
            </sfc-avatar>
        </div>

        <div class="component-column">
            <sfc-avatar [radius]="160" [sfcComponentSize]="ComponentSize.Large" [stars]="true" [starsValue]="2.15"
                [data]="dataImage">
                <sfc-avatar-badge [position]="AvatarBadgePosition.Right" [background]="'#8CC152'">
                    <fa-icon [icon]="faCopyright"></fa-icon>
                </sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.RightBottom">46</sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.RightTop" [background]="'#ED5565'">
                    <fa-icon [icon]="faPlus"></fa-icon>
                </sfc-avatar-badge>
            </sfc-avatar>
        </div>

        <div class="component-column">
            <sfc-avatar [radius]="336" [sfcComponentSize] [customSize]="4.2" [stars]="true" [starsValue]="3.85"
                [data]="dataImage">
                <sfc-avatar-badge [position]="AvatarBadgePosition.Right" [background]="'#8CC152'">
                    <fa-icon [icon]="faCopyright"></fa-icon>
                </sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.RightBottom">46</sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.RightTop" [background]="'#ED5565'">
                    <fa-icon [icon]="faPlus"></fa-icon>
                </sfc-avatar-badge>
            </sfc-avatar>
        </div>

    </div>

    <div class="component-row">

        <div class="component-column">
            <sfc-avatar [radius]="40" [sfcComponentSize]="ComponentSize.Small" [stars]="true" [starsValue]="1.75"
                [data]="dataImage">
                <sfc-avatar-badge [position]="AvatarBadgePosition.Top">16</sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.Bottom">26</sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.Right">36</sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.RightBottom">46</sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.RightTop">56</sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.Left">66</sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.LeftBottom">76</sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.LeftTop">86</sfc-avatar-badge>
            </sfc-avatar>
        </div>

        <div class="component-column">
            <sfc-avatar [radius]="160" [sfcComponentSize]="ComponentSize.Large" [stars]="true" [starsValue]="2.15"
                [data]="dataImage">
                <sfc-avatar-badge [position]="AvatarBadgePosition.Top">16</sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.Bottom">26</sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.Right">36</sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.RightBottom">46</sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.RightTop">56</sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.Left">66</sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.LeftBottom">76</sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.LeftTop">86</sfc-avatar-badge>
            </sfc-avatar>
        </div>

        <div class="component-column">
            <sfc-avatar [radius]="336" [sfcComponentSize] [customSize]="4.2" [stars]="true" [starsValue]="3.85"
                [data]="dataImage">
                <sfc-avatar-badge [position]="AvatarBadgePosition.Top">16</sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.Bottom">26</sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.Right">36</sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.RightBottom">46</sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.RightTop">56</sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.Left">66</sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.LeftBottom">76</sfc-avatar-badge>
                <sfc-avatar-badge [position]="AvatarBadgePosition.LeftTop">86</sfc-avatar-badge>
            </sfc-avatar>
        </div>

    </div>
</div>