<div class="component-container">
    <div class="title">
        <h3>Common:</h3>
    </div>

    <form [formGroup]="formGroup" autocomplete="off">

        <h3>Static:</h3>

        <div class="component-row">
            <div class="component-column">
                <sfc-autocomplete-input id="demo-autocomplete-empty" formControlName="inputAutoCompleteNull"
                    [data]="data">
                </sfc-autocomplete-input>
            </div>

            <div class="component-column">
                <sfc-autocomplete-input id="demo-autocomplete-label" formControlName="inputAutoCompleteLabel"
                    [data]="data" label="label test">
                </sfc-autocomplete-input>
            </div>

            <div class="component-column">
                <sfc-autocomplete-input id="demo-autocomplete-placeholder"
                    formControlName="inputAutoCompletePlaceholder" [data]="data" placeholder="placeholder test">
                </sfc-autocomplete-input>
            </div>
        </div>

        <div class="component-row">
            <div class="component-column">
                <sfc-autocomplete-input id="demo-autocomplete-label-placeholder"
                    formControlName="inputAutoCompleteLabelPlaceholder" [data]="data" label="label test"
                    placeholder="placeholder test">
                </sfc-autocomplete-input>
            </div>

            <div class="component-column">
                <sfc-autocomplete-input id="demo-autocomplete-icon" formControlName="inputAutoCompleteIcon"
                    [data]="data" [icon]="faUser">
                </sfc-autocomplete-input>
            </div>

            <div class="component-column">
                <sfc-autocomplete-input id="demo-autocomplete-icon-label-placeholder"
                    formControlName="inputAutoCompleteLabelPlaceholderIcon" [data]="data" label="label test"
                    placeholder="placeholder test" [icon]="faUser">
                </sfc-autocomplete-input>
            </div>
        </div>

        <div class="component-row">
            <div class="component-column">
                <sfc-autocomplete-input id="demo-autocomplete-helper" formControlName="inputAutoCompleteHelper"
                    [data]="data" helperText="test helper">
                </sfc-autocomplete-input>
            </div>

            <div class="component-column">
                <sfc-autocomplete-input id="demo-autocomplete-helper-icon" formControlName="inputAutoCompleteHelperIcon"
                    [data]="data" helperText="test helper" [icon]="faUser">
                </sfc-autocomplete-input>
            </div>

            <div class="component-column">
                <sfc-autocomplete-input id="demo-autocomplete-helper-label-placeholder"
                    formControlName="inputAutoCompleteHelperLabelPlaceholder" [data]="data" helperText="test helper"
                    label="label test" placeholder="placeholder test">
                </sfc-autocomplete-input>
            </div>
        </div>

        <div class="component-row">

            <div class="component-column">
                <sfc-autocomplete-input id="demo-autocomplete-disabled" formControlName="inputAutoCompleteDisabled"
                    [data]="data">
                </sfc-autocomplete-input>
            </div>

            <div class="component-column">
                <sfc-autocomplete-input id="demo-autocomplete-disabled-label"
                    formControlName="inputAutoCompleteDisabledLabel" [data]="data" label="disabled test lable">
                </sfc-autocomplete-input>
            </div>

            <div class="component-column">
                <sfc-autocomplete-input id="demo-autocomplete-disabled-all"
                    formControlName="inputAutoCompleteDisabledAll" [data]="data" label="disabled label test"
                    placeholder="disabled placeholder test" [icon]="faUser" helperText="disabled test helper">
                </sfc-autocomplete-input>
            </div>

        </div>

        <div class="component-row">
            <div class="component-column">
                <sfc-autocomplete-input id="demo-autocomplete-validation" formControlName="inputAutoCompleteValidation"
                    [data]="data" label="validation label test" placeholder="validation placeholder test"
                    [icon]="faUser" helperText="validation test helper">
                </sfc-autocomplete-input>
            </div>

            <div class="component-column">
                <sfc-autocomplete-input id="demo-autocomplete-validation-success"
                    formControlName="inputAutoCompleteValidationSuccess" [data]="data" label="validation label test"
                    placeholder="validation placeholder test" [icon]="faUser" helperText="validation test helper">
                </sfc-autocomplete-input>
            </div>

            <div class="component-column">
                <sfc-autocomplete-input id="demo-autocomplete-validation-failed"
                    formControlName="inputAutoCompleteValidationFailed" [data]="data" label="validation label test"
                    placeholder="validation placeholder test" [icon]="faUser" helperText="validation test helper">
                </sfc-autocomplete-input>
            </div>
        </div>

        <div class="component-row">
            <div class="component-column">
                <sfc-autocomplete-input id="demo-autocomplete-validation-msg"
                    formControlName="inputAutoCompleteValidationMessage" [data]="data" label="validation label test"
                    placeholder="validation placeholder test" [icon]="faUser" helperText="validation test helper"
                    [validations]="{'sfc-equal-or-include': 'Include invalid (must be anita 3)'}">
                </sfc-autocomplete-input>
            </div>

            <div class="component-column">
                <sfc-autocomplete-input id="demo-autocomplete-validation-failed-msg"
                    formControlName="inputAutoCompleteValidationFailedMessage" [data]="data"
                    label="validation label test" placeholder="validation placeholder test" [icon]="faUser"
                    helperText="validation test helper"
                    [validations]="{'sfc-equal-or-include': 'Include invalid (must be anita 3)'}">
                </sfc-autocomplete-input>
            </div>

            <div class="component-column">
                <sfc-autocomplete-input id="demo-autocomplete-validation-success-msg"
                    formControlName="inputAutoCompleteValidationSuccessMessage" [data]="data"
                    label="validation label test" placeholder="validation placeholder test" [icon]="faUser"
                    helperText="validation test helper"
                    [validations]="{'sfc-equal-or-include': 'Include invalid (must be anita 3)'}">
                </sfc-autocomplete-input>
            </div>
        </div>

        <div class="component-row">
            <div class="component-column">
                <sfc-autocomplete-input id="demo-autocomplete-small" formControlName="inputAutoCompleteSmall"
                    [data]="data" helperText="Small" [icon]="faUser" label="Small" placeholder="Small"
                    [sfcComponentSize]="ComponentSize.Small">
                </sfc-autocomplete-input>
            </div>

            <div class="component-column">
                <sfc-autocomplete-input id="demo-autocomplete-large" formControlName="inputAutoCompleteLarge"
                    [data]="data" helperText="Large" [icon]="faUser" label="Large" placeholder="Large"
                    [sfcComponentSize]="ComponentSize.Large">
                </sfc-autocomplete-input>
            </div>

            <div class="component-column">
                <sfc-autocomplete-input id="demo-autocomplete-custom" formControlName="inputAutoCompleteCustom"
                    [data]="data" helperText="Custom" [icon]="faUser" label="Custom" placeholder="Custom"
                    [sfcComponentSize] [customSize]="5.2">
                </sfc-autocomplete-input>
            </div>
        </div>

        <div class="component-row">

            <div class="component-column">
                <sfc-autocomplete-input id="demo-autocomplete-scroll" formControlName="inputAutoCompleteScroll"
                    [data]="dataModification" helperText="Scroll" [icon]="faUser" label="Scroll" placeholder="Scroll"
                    [showLoadMoreButton]="false">
                </sfc-autocomplete-input>
            </div>

            <div class="component-column column-direction">
                <div>
                    <h4>Sync data (add new item, remove item)</h4>
                    <button (click)="addItemSync()" style="margin-right: 10px;">Add item</button>
                    <button (click)="removeItemSync()">Remove item</button>
                </div>
                <sfc-autocomplete-input id="demo-autocomplete-modification"
                    formControlName="inputAutoCompleteModification" [data]="dataModification">
                </sfc-autocomplete-input>
            </div>
        </div>

        <h3>Observable:</h3>

        <div class="component-row">

            <div class="component-column">
                <sfc-autocomplete-input id="demo-autocomplete-obs-helper-icon"
                    formControlName="inputAutoCompleteObservableHelperIcon" [data$]="data$" helperText="test helper"
                    [icon]="faUser">
                </sfc-autocomplete-input>
            </div>

            <div class="component-column">
                <sfc-autocomplete-input id="demo-autocomplete-obs-validation-msg"
                    formControlName="inputAutoCompleteObservableValidationMessage" [data$]="data$"
                    label="validation label test" placeholder="validation placeholder test" [icon]="faUser"
                    helperText="validation test helper"
                    [validations]="{'sfc-equal-or-include': 'Include invalid (must be anita 3)'}">
                </sfc-autocomplete-input>
            </div>

            <div class="component-column column-direction">
                <div>
                    <h4>Async data (add new item, remove item)</h4>
                    <button (click)="addItemAsync()" style="margin-right: 10px;">Add item</button>
                    <button (click)="removeItemAsync()">Remove item</button>
                </div>
                <sfc-autocomplete-input id="demo-autocomplete-obs-modification"
                    formControlName="inputAutoCompleteObservableModification" [data$]="dataModification$">
                </sfc-autocomplete-input>
            </div>

        </div>

        <h3>Loader:</h3>

        <div class="component-row">
            <div class="component-column">
                <sfc-autocomplete-input id="demo-autocomplete-loader-helper-icon"
                    formControlName="inputAutoCompleteLoaderHelperIcon" [loader]="loader" helperText="test helper"
                    [icon]="faUser">
                </sfc-autocomplete-input>
            </div>

            <div class="component-column">
                <sfc-autocomplete-input id="demo-autocomplete-loader-validation-msg"
                    formControlName="inputAutoCompleteLoaderValidationMessage" [loader]="loader"
                    label="validation label test" placeholder="validation placeholder test" [icon]="faUser"
                    helperText="validation test helper"
                    [validations]="{'sfc-equal-or-include': 'Include invalid (must be anita 3)'}">
                </sfc-autocomplete-input>
            </div>

            <!-- Q: Loader data can changes on their own will? If yes, than need fix, otherwise this example not relevant. -->
            <div class="component-column column-direction">
                <div>
                    <h4>Loader data (add new item, remove item)</h4>
                    <button (click)="addItemLoader()" style="margin-right: 10px;">Add item</button>
                    <button (click)="removeItemLoader()">Remove item</button>
                </div>
                <sfc-autocomplete-input id="demo-autocomplete-loader-modification"
                    formControlName="inputAutoCompleteLoaderModification" [loader]="loaderModification">
                </sfc-autocomplete-input>
            </div>
        </div>

        <div>
            <pre><code>{{ formGroup.value | json }}</code></pre>
            <h1>Valid: {{formGroup.valid}}</h1>
        </div>
    </form>
</div>