<div class="component-container">
    <div class="title">
        <h3>Modals:</h3>
    </div>

    <ng-template #headerRef>
        <div>
            <div>{{HEADER_MODEL.Title}}</div>
            <i class="{{HEADER_MODEL.Icon}}"></i>
            <button class="app" (click)="HEADER_MODEL.Click()">hide model</button>
        </div>
    </ng-template>

    <ng-template #bodyRef>
        <div style="display: flex;flex-wrap: wrap;justify-content: center; align-items: center;">
            <div *ngFor="let item of BODY_REFERENCE_MODEL.Items"
                style="display: flex;flex-direction: column;align-items: center;padding: 10px;">
                <h1>{{item.Title}}</h1>
                <i class="{{item.Icon}}"></i>
                <button class="app" (click)="item.Click()">click body</button>
            </div>
        </div>
    </ng-template>

    <ng-template #footerRef>
        <div>
            <div>{{FOOTER_MODEL.Title}}</div>
            <i class="{{FOOTER_MODEL.Icon}}"></i>
            <button class="app" (click)="FOOTER_MODEL.Click()">hide model</button>
        </div>
    </ng-template>

    <div class="component-row">
        <div class="component-column">
            <button class="app" #defaultModalBtn>Default modal</button>
            <sfc-modal *sfcModalOpenOnClick="defaultModalBtn"></sfc-modal>
        </div>

        <div class="component-column">
            <button class="app" #defaultBodyRefModalBtn>Default with body ref modal</button>
            <sfc-modal *sfcModalOpenOnClick="defaultBodyRefModalBtn" [body]="bodyRef"></sfc-modal>
        </div>

        <div class="component-column">
            <button class="app" #defaultBodyTmpltModalBtn>Default with body template modal</button>
            <sfc-modal *sfcModalOpenOnClick="defaultBodyTmpltModalBtn">
                <ng-template [sfcTemplateReference]="ModalTemplate.Body">
                    <div>
                        <div>{{BODY_TEMPLATE_MODEL.Title}}</div>
                        <i class="{{BODY_TEMPLATE_MODEL.Icon}}"></i>
                        <button (click)="BODY_TEMPLATE_MODEL.Click()">click body</button>
                    </div>
                </ng-template>
            </sfc-modal>
        </div>
    </div>

    <div class="component-row">
        <div class="component-column">
            <button class="app" #defaultNotEscModalBtn>Default not ESC modal</button>
            <sfc-modal *sfcModalOpenOnClick="defaultNotEscModalBtn" [hideOnEsc]="false" [body]="bodyRef"></sfc-modal>
        </div>

        <div class="component-column">
            <button class="app" #defaultNotOutModalBtn>Default not click out modal</button>
            <sfc-modal *sfcModalOpenOnClick="defaultNotOutModalBtn" [hideOnClickOutside]="false" [body]="bodyRef">
            </sfc-modal>
        </div>

        <div class="component-column">
            <button class="app" #defaultOneModalBtn>Button 1</button>
            <button class="app" #defaultSecondModalBtn>Button 1</button>
            <sfc-modal *sfcModalOpenOnClick="[defaultOneModalBtn, defaultSecondModalBtn]" [body]="bodyRef">
            </sfc-modal>
        </div>
    </div>

    <div class="component-row">
        <div class="component-column">
            <button class="app" #defaultHeaderCustomModalBtn>Default header custom modal</button>
            <sfc-modal *sfcModalOpenOnClick="defaultHeaderCustomModalBtn"
                [defaultHeaderModel]="{text: 'Test header', showCloseIcon: false, icon:'fa fa-car'}" [body]="bodyRef">
            </sfc-modal>
        </div>

        <div class="component-column">
            <button class="app" #defaultFooterCustomModalBtn>Default footer custom modal</button>
            <sfc-modal *sfcModalOpenOnClick="defaultFooterCustomModalBtn"
                [defaultFooterModel]="{cancelButton: false, applyButton:true, onApply:clickFunc}" [body]="bodyRef">
            </sfc-modal>
        </div>
    </div>

    <div class="component-row">
        <div class="component-column">
            <button class="app" #defaultTemplateHeaderModalBtn>Template header modal</button>
            <sfc-modal *sfcModalOpenOnClick="defaultTemplateHeaderModalBtn" [body]="bodyRef">
                <ng-template [sfcTemplateReference]="ModalTemplate.Header">
                    <div>
                        <div>{{HEADER_MODEL.Title}}</div>
                        <i class="{{HEADER_MODEL.Icon}}"></i>
                        <button class="app" (click)="FOOTER_MODEL.Click()">hide model</button>
                    </div>
                </ng-template>
            </sfc-modal>
        </div>

        <div class="component-column">
            <button class="app" #defaultTemplateFooterModalBtn>Template footer modal</button>
            <sfc-modal *sfcModalOpenOnClick="defaultTemplateFooterModalBtn" [body]="bodyRef">
                <ng-template [sfcTemplateReference]="ModalTemplate.Footer">
                    <div>
                        <div>{{FOOTER_MODEL.Title}}</div>
                        <i class="{{FOOTER_MODEL.Icon}}"></i>
                        <button class="app" (click)="FOOTER_MODEL.Click()">hide model</button>
                    </div>
                </ng-template>
            </sfc-modal>
        </div>
    </div>

    <div class="component-row">
        <div class="component-column">
            <button class="app" #defaultRefHeaderModalBtn>Reference header modal</button>
            <sfc-modal *sfcModalOpenOnClick="defaultRefHeaderModalBtn" [body]="bodyRef" [header]="headerRef">
            </sfc-modal>
        </div>

        <div class="component-column">
            <button class="app" #defaultRefFooterModalBtn>Reference footer modal</button>
            <sfc-modal *sfcModalOpenOnClick="defaultRefFooterModalBtn" [body]="bodyRef" [footer]="footerRef">
            </sfc-modal>
        </div>
    </div>
</div>